body {
  background-color: yellow;
  border-radius: 10px;
  font-family: "Raleway", sans-serif;
}

.App{
  text-align: center;
  margin: 20px 0;
}
.info{
  width: 50%;
  height: 10%;
  font-size: 20px;
  word-wrap: break-word;
  border: none;
  background-color: aqua;
box-sizing: border-box;

}
.info:hover{
background-color: white;
transition: .3s;
}

